body {
    font-size: 14px;
    line-height: 1.6;
    background-image: url(../img/bg-dark.png);
    color: #222222;
    height: 100%;
    min-height: 100%;
}

.main {
    padding-top: 10px;
    background-color: #EDEDED;
    padding-bottom: 15px;
    /*margin-bottom: 3em;*/
    min-height: 100%;
}

canvas {
    border: 2px solid rgb(151, 149, 149);
    margin: auto;
}

.snake-canvas {
    align-items: center;
    margin: auto;
}

.gameframe iframe {
    border: none;
}

.footer {
    text-align: center;
    background-color: #AABBFF!important;
    padding: 10px;
    border-top: 1px solid #007BFF;
    border-bottom: 1px solid #007BFF;
    /*height: 3em;*/
    /*margin-top: -3em;*/
}
