body {
    font-size: 14px;
    line-height: 1.6;
    background-image: url(../img/bg-dark.png);
    color: #F7F7F7;
    height: 100%;
    min-height: 100%;
}

a {
    color: #DC3545;
}

.main {
    padding-top: 10px;
    background-color: #121212;
    padding-bottom: 15px;
    /*margin-bottom: 3em;*/
    min-height: 100%;
}

.logo {
    background-image: url(../img/logo.png);
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
    height: 10rem;
}

canvas {
    border: 2px solid rgb(151, 149, 149);
    margin: auto;
}

.snake-canvas {
    align-items: center;
    margin: auto;
}

.gameframe iframe {
    border: none;
}

.footer {
    text-align: center;
    background-color: #343A40!important;
    padding: 10px;
    border-top: 1px solid #DC3545;
    border-bottom: 1px solid #DC3545;
    /*height: 3em;*/
    /*margin-top: -3em;*/
}
