body {
    font-size: 14px;
    line-height: 1.6;
    background-color: #CCCCFF;
    color: #222222;
}

.main {
    padding-top: 10px;
    background-color: #F0F0F0;
    padding-bottom: 15px;
}

canvas {
    border: 2px solid rgb(151, 149, 149);
    margin: auto;
}

.snake-canvas {
    align-items: center;
    margin: auto;
}

.footer {
    text-align: center;
    background-color: #AABBFF!important;
    margin-bottom: 0;
    padding: 10px;
    border-top: 1px solid #007BFF;
    border-bottom: 1px solid #007BFF;
}
